{% assign count = '0' %}
{% assign idx = '1' %}

{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% if post.url == page.url %}
			{% capture idx %}{{count}}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}

{% capture previdx %}{{ idx | minus: '1' }}{% endcapture %}
{% capture nextidx %}{{ idx | plus: '1' }}{% endcapture %}


<p style="margin-top: 80px;">This article is <strong>part {{ idx }}</strong> in <strong>{{ page.series }}</strong> series.</p>

<p>
    <table class="plain">
{% assign count = '0' %}
{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}

        {% if count == nextidx %}
            <tr>
                <td>Next:</td>
                <td>
                    <a href="{{ post.url }}">
                        {% if page.nextLabel %}{{ page.nextLabel }}{% else %}{{ post.title }}{% endif %}
                    </a>
                </td>
            </tr>
        {% endif %}
	{% endif %}
{% endfor %}

{% assign count = '0' %}
{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}

        {% if count == previdx %}
            <tr>
                <td>Previous:</td>
                <td>
                    <a href="{{ post.url }}">
                        {% if page.prevLabel %}{{ page.prevLabel }}{% else %}{{ post.title }}{% endif %}
                    </a>
                </td>
            </tr>
        {% endif %}
	{% endif %}
{% endfor %}
    </table>
</p>

<p style="margin-top: 80px;">
    All articles in this series:
</p>

<ul>
{% assign count = '0' %}
{% for post in site.posts reversed %}
{% if post.series == page.series %}
{% capture count %}{{ count | plus: '1' }}{% endcapture %}
    <li>
        {% if page.url == post.url %}
            <b>Part {{ count }} - {{ post.title }} (this article)</b>
        {% else %}
            Part {{ count }} - <a href="{{post.url}}">{{post.title}}</a>
        {% endif %}
    </li>
{% endif %}
{% endfor %}
</ul>

{% assign count = nil %}
{% assign idx = nil %}